---
import { Image } from "astro:assets";
import Text from "../atoms/Text.astro";

const { image, imageAlt, title, link } = Astro.props;
---

<div class="product-card mt-32 flex min-w-[350px] rounded-xl items-center flex-col mb-16">
  <a href={link} class="flex items-center justify-center"><Image class="item-image" src={image} alt={imageAlt}/></a>
  <Text type="h2" class="!text-4xl mb-2">{title}</Text>

  <slot />
</div>

<style>
  .product-card {
    background: #f1f1f1;
  }

  .item-image {
    width: 60%;
    height: auto;
    object-fit: contain;
    mix-blend-mode: darken;
    margin-top: -100px;
    z-index: 2;
  }
</style>
