---
import Text from "../atoms/Text.astro";
const { className } = Astro.props;
---
<div class={`uppercase gap-[34px] ${className}`}>
  <a href="/"><Text type="subTitle">Home</Text></a>
  <a href="/category/makhana"><Text type="subTitle">Makhana</Text></a>
  <a href="/category/sattu"><Text type="subTitle">Sattu</Text></a>
</div>
