---
import Button from "../../components/atoms/Button.astro";
import makhana from "../../../public/assets/exported/makhana.webp";
import sattu from "../../../public/assets/exported/sattu.webp";
import FeaturedProductCard from "../molecules/FeaturedProductCard.astro";
---

<section aria-labelledby="featured-products">
  <h2 id="featured-products" class="sr-only">Featured Products</h2>
  <div class="container grid grid-cols-1 place-items-center">
    <FeaturedProductCard image={makhana} imageAlt="makhana" title="Makhana" link="/category/makhana">
      <a class="p-2 text-xl font-semibold mb-2" href="/category/makhana"><Button>Shop →</Button></a>
    </FeaturedProductCard>
    <FeaturedProductCard image={sattu} imageAlt="sattu" title="Sattu" link="/category/sattu">
      <a class="p-2 text-xl font-semibold mb-2" href="/category/sattu"><Button>Shop →</Button></a>
    </FeaturedProductCard>
  </div>
</section>
