---
import { Image } from "astro:assets";
import Text from "../atoms/Text.astro";
import outroImg from "../../../public/assets/exported/logo.webp";
---

<div
  class="mx-auto flex max-w-[1000px] flex-col items-center justify-between lg:flex-row lg:items-center mb-12"
>
  <Image class="max-w-[400px] mb-4" src={outroImg} alt="best-gear" />

  <div class="flex w-full flex-col justify-center gap-4 p-4 sm:p-8">
    <div class="w-full">
      <Text type="h3" className="text-center lg:text-left">
        Acercamos lo mejor de la naturaleza para ayudar a sentirte mejor
      </Text>
    </div>
    <div class="w-full">
      <Text type="body" className="text-center lg:text-left">
        En Naturaniks nos esforzamos por llevar a tu alcance las mejores opciones naturales para mejorar tu calidad de vida y sentirte mejor.
      </Text>
    </div>
  </div>
</div>
