---
interface Props {
  title: string;
  description: string;
}

import Navbar from "../components/organisms/Navbar.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="../../assets/exported/logo.webp"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body>
    <Navbar />
    <slot />
    <style is:global>
      .mt-16 {
        margin-top: 32px;
      }

      .mb-36 {
        margin-bottom: 68px;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      button {
        border-radius: 6px;
      }

      :root {
        --primary: #d87d4a;
        --dark: #1c1c1c;
        --evening: #0e0e0e;
        --night: #000;
        --gray: #f1f1f1;
        --off-white: #fafafa;
        --white: #fff;
        --dim-white: rgb(255, 255, 255, 0.5);
        --primary-light: #fbaf85;
      }

      html {
        background-color: var(--off-white);
      }

      .container {
        width: 100%;
        max-width: 600px;
        overflow-x: hidden;
        margin: auto;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      /* Store items display */
      .product-item-row {
        display: flex;
        flex-direction: column-reverse;
        gap: 34px;
      }
      .product-item-row > div {
        width: 100%;
      }
    </style>
  </body>
</html>
